<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezbake</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/images/ezINVERTED_colored.ico') }}">
</head>

<body>
    <div class="container">
        <header class="taskbar">

            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="static/images/ezINVERTED_colored.png">
                </a>
            </div>
            <!-- TODO : Give styling to this, give reference to tylers example  -->
            <div class="center"> 
                <ul> 
                    <li><a>Posts</a>
                    <!-- <li><a>People</a> -->
                </ul>
            </div>

            <nav class="navigation">
                <ul>
                    <li><a href="{{ url_for('login') }}" class="loginButton">
                        Login
                    </a>
                </ul>
            </nav>
            
        </header> 

        <main id="content"> 
            {% for post in posts %}
                <div class="posts">
                    <h2>{{ post.title }}</h2>
                    <img src ="{{ post.image_url}}" alt="{{ post.title}}">
                    <p>{{ post.content }}</p>
                </div>
            {% endfor %}
        </main>

        <div id ="loader" hidden>Loading more posts...</div>   
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/infinite-scroll.js') }}"></script>
</body>

</html>
