<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezbake</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/images/ezINVERTED_colored.ico') }}">
</head>

<body>
    <div>
        <header class="taskbar">

            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="static/images/ezINVERTED_colored.png">
                </a>
            </div>

            <nav class="navigation">
                <ul>
                    <li><a href="{{ url_for('login') }}" class="loginButton">
                        Login
                    </a>
        
                </ul>
            </nav> 
        </header> 

        <div class="post-creation-modal">
            <form class="post-form" action="{{ url_for('create_post') }}" method="post">
                <input type="text" name="Title" placeholder="Title" required>
                <textarea name="Content" placeholder="Content" required></textarea>
                <div class="form-actions">
                    <input type="file" name="image" accept="image/*">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>

        <!-- TODO : Add in forum that allows a user to add a post to the database -->
    </div>
    <script>"{{ url_for('static', filename='js/post-creation.js') }}"</script>
</body>

</html>
